*
 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;

}


.flexible {
    display: flex;
  }
  
  .wrp {
    flex-wrap: wrap;
  }
  
  .aic {
    align-items: center;
  }
  
  
  .site {
    max-width: 1400px;
    background-color: white;
    margin: auto;
    padding: 20px;
  }
  
  header {
    background-color: white;
  }


  
  .top_line {
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: space-between;
    
  }
  
  .top_line nav {
    margin-left: auto;
    gap: 20px;
  }
  
  
  .filters-line {
    gap: 20px;
  }
  
  .logo {
    width: 105px;
    height: 35px;
    margin-right: 60%;
  }
  
  nav a {
    padding: 25px;
    text-decoration: none;
    font-size: 18px;
    border-top: 2px solid transparent;
    color: black;
    padding-top: 15px;
   
  
  }
   
  nav a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
  }
  
  .titre-principale {
    margin-bottom: 15px;
    margin-top: 20px;
  }
  
  .titre-principale .titre  {
    margin-bottom: 15px;
  }
  
  .search {
    margin-bottom: 30px;
    margin-top: 8px;
  }
  
  .loup {
    display: none;
  }
  
  .search {
    cursor: pointer;
  
  }
  
  .icon-x {
    border: 1px solid #f2f2f2;
    border-color: lightgray;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    width: 10px;
    padding: 10px 20px;
  }
  
  .icon-x i {
    position: relative;
    right: 4px;
  }
  
  .rechercher button {
    background-color: #0065fc;
    border-color: blue;
    color: white;
    border-radius: 0 15px 15px 0;
    font-size: 17px;
    padding: 10px 18px;
  }
  
  .rechercher button:hover {
    background-color: #0065fc;
    border-color: #f2f2f2;
    cursor: pointer;
    transform: scale(1.01);
  }
  
  .cadre input {
    border-color: lightgrey;
    border: 1px solid; 
    font-size: 17px;
    font-weight: bold;
    width: 192px;
    padding: 11px 5px 10px 13px;
    text-align: left;
  }
  
  .filters {
    gap: 30px;
  }
  
  .filters_line {
    align-items: center;
    width: auto;
    flex-wrap: wrap;
    font-weight: bold;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .filters .case {
    display: flex;
    border: 2px solid lightgrey;
    padding: 7px;
    border-radius: 30px;
    text-decoration: none;
    align-items: center;
  }
  
  .icon {
    color: #0065fc;
    margin-right: 6px;
  }
  
  .filters p {
    color: black;
    font-size: 16px;
    white-space: nowrap;
  }
  
  .filters a:hover {
    background-color: lightblue;
  }
  
  .info {
    border: 1px solid lightgray;
    border-radius: 28px;
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }
  
  .info i {
    font-size: 11px;
    background-color: white;
    position: relative;
    left: 11px;
    top: 2px;
    color: blue;
  }
  
  .information {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }


  .hebergement-line {
    gap: 30px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .hebergement-line img {
    width: 100px;
  }
  
  .hebergement-container {
    background: #f2f2f2;
    height: 480px;
    justify-content: space-around;
  }
  
  .hebergement-container .details {
    display: flex;
    justify-content: start;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 31px;
    margin: 2px;
    margin-top: auto;
    height: 220px;
    width: 30%;
    padding: 3px 3px 12px 3px;
    background-color: white;
    text-decoration: none;
  
  }

  .hebergement_container .det {
    display: flex;
    justify-content: start;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 31px;
    margin: 2px;
    margin-top: auto;
    height: 220px;
    width: 30%;
    padding: 3px 3px 12px 3px;
    background-color: white;
  }
  
  .section-hebergement img {
    display: block;
    border: 1px solid white;
    border-radius: 30px 30px 0 0;
    height: 120px;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  
  .section-hebergement {
    width: 74%;
    height: 580px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 1px solid white;
    border-radius: 28px;
  }
  
  .section-hebergement .titre {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 26px;
  }
  
  .section-hebergement h4 {
    margin-bottom: 0px;
    margin-top: 5px;
    color: black;
  }
  
  .section-hebergement p { 
    margin-bottom: 5px;
    color: black;
  }
  
  .lien {
    margin-top: 11px;
    margin-left: 28px;
    text-decoration: solid;
    font-size: 18px;
  }
  
  .lien a {
    text-decoration: none;
    color: black;
  }
  
  .section-hebergement a:hover {
    border: 2px solid #f2f2f2;
    cursor: pointer;
    transform: scale(1.01);
  }
  
  .hebergement_container a {
    text-decoration: none;
    color: black;
  }
  

  .section-populaire {
    background-color: #f2f2f2;
    width: 350px;
    height: 580px;
    padding: 10px;
    order: 2;
    border: 1px solid white;
    border-radius: 28px;
  }
  
  .section-populaire .stars {
    margin-top: auto;
  }
  
  .header-icon-x {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .header-icon-x h1,
  .up {
    font-size: 22px;
    margin: 10px;
    
  }
  
  .det2 {
    border: 2px solid transparent;
    border-radius: 30px;
    margin: 15px;
    margin-left: 15px;
    height: 140px;
    width: 300px;
    padding: 1px;
    background-color: white;
  }
  
  .det2-right {
    display: flex;
    flex-direction: column;
  }
  
  .det2-right .stars {
    margin-bottom: 10px;
  }
  
  .section-populaire a {
    text-decoration: none;
    color: black;
  }
  
  .section-populaire h4 {
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 12px;
  }
  
  .section-populaire p {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 32px;
  }
  
  .section-populaire a:hover {
    border: 2px solid transparent;
    cursor: pointer;
    transform: scale(1.01);
  }
  
  .stars {
    margin-top: auto;
    margin-left: 5px;
  }
  
  .ble {
    color: #0065fc;
  }
  
  .gry {
    color: #9f9a9a;
  }
  .section-populaire img {
    display: block;
    border: 1px solid white;
    border-radius: 30px 0px 0px 30px;
    height: auto;
    width: 38%;
    object-fit: cover;
    object-position: center;
  }

  .section-populaire img {
    display: block;
    border: 1px solid white;
    border-radius: 30px 0px 0px 30px;
    height: auto;
    width: 38%;
    object-fit: cover;
    object-position: center;
  }
  
  .section-activites .det3 {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  
  }
  
  .section-activites h2 {
    padding-bottom: 15px;
  }
  
  .det3 .one {
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 0px 3px #f2f2f2;
    cursor: pointer;
    width: 22%;
    text-decoration: none;
    color: black;
  }
  
  .det3 .one a:hover {
    border: 2px solid lightblue;
  }
  
  .section-activites a:hover {
    border: 1px solid #f2f2f2;
    cursor: pointer;
    transform: scale(1.01);
  }
  
  .det3 .one img {
    height: 400px;
  }
  
  .det3 img {
    width: 100%;
  }
  
  .section-activites img {
    border: 1px solid white;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
  
  .section-activites {
    background-color: white;
    width: 100%;
    padding: 15px;
  }
  
  .section-activites h1 {
    font-size: 24px;
    margin: 12px;
  }
  
  .det3 h4 {
    font-size: 18px;
    margin: 8px;
  }


  footer .pieds {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #f2f2f2;
    background-color: lightgray;
    margin-top: 25px;
    padding: 10px;
  }
  
  .pieds h4 {
    margin: 2px;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  footer .info1 {
    margin-left: 12px;
    margin-right: 90px;
  }
  
  footer .info2 {
    margin-right: 120px;
  }
  
  footer .info3{
    margin-right: 20px;
  }
  footer a {
    font-size: 15px;
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .pieds {
    background-color: #f2f2f2;
    width: 100%;
    margin-top: 10px;
  }



@media (max-width: 1024px){
  
  .flexible {
    display: flex;
  }
  
  .wrp {
    flex-wrap: wrap;
  }
  nav a {
    font-size: 17px;
  }

  .section-hebergement{
    flex-direction: column;
    width: 100%;
  }
  .section-populaire
  {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
  .hebergement-line{
    flex-wrap: wrap;
  }
  h1{
    font-size: 25px;
  }
  .det3 h4{
    font-size: 16px;
  }
  .titre-principale .titre{
    font-size: 25px;
  }
  .section-hebergement h4{
    font-size: 15px;
    margin-bottom: 2px;
  }
  .section-hebergement p {
    font-size: 13px;
  }
  .section-hebergement .stars{
    font-size: 14px;
    margin-top: auto;
  }
  .dets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
  }
  .logo{
    margin-right: 40%;
  }

  .det2{
    width: 30%;
  }
  .det2-right h4  {
    font-size: 14px;
  }
  .det2-right p {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .det2-right .stars{
    font-size: 14px;
    margin-top: auto;
  }
 
}
@media (max-width: 500px) {
  body .logo {
    justify-content: center;
  }

  .top_line {
    flex-direction: column;
    padding: 0px;
  }

  .top_line nav {
    width: 100%;
  }

  .top_line .choix {
    display: flex;
  }

  .top_line nav a {
    border-top: 2px solid transparent;
    border-bottom: 3px solid transparent;
    display: block;
    width: 50%;
    text-align: center;
  }

  .top_line nav a:hover {
    border-bottom: 3px solid blue;
  }

  .filters a {
    width: 44%;
  }

  .filters_line {
    display: block;
  }

  .filters {
    margin-top: 10px;
  }

  .filters p {
    font-size: 13px;
  }

  .filters a {
    width: 43%;
  }
  .filters .case{
    width: 45%;
  }

  .dets {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  .section-populaire .det2 {
    width: 96%;
  }

  .section-populaire img {
    width: 29%;
  }

  .section-hebergement {
    order: 2;
    height: auto;
  }

  .hebergement_container {
    height: auto;
  }

  .section-hebergement .det {
    flex-direction: column;
    width: 98%;
    margin: 10px;
  }

  .section-hebergement img {
    height: 60%;
    object-fit: cover;
  }
  .section-hebergement h4{
    font-size: 13px;
  }
  .section-hebergement p{
    font-size: 11px;
  }
  .section-hebergement .stars{
    font-size: 11px;
  }
  .info1,
  .info2,
  .info3 {
    width: 100%;
    justify-content: start;
    margin: 12px;
  }

  .stars {
    margin-bottom: auto;
    margin-top: auto;
    font-size: 12px;
  }

  .det3 .one {
    width: 100%;
    margin: 10px;
    height: 200px;
  }

  .det3 .one img {
    height: 80%;
    object-fit: cover;
  }

  .loup {
    display: flex;
    padding-top: 2px;
  }

  .searsh {
    display: none;
  }
}
